version: '3.8'
        
services:
          
  app_blue:
    image: ghcr.io/${{ github.repository }}:latest
    container_name: webcalc_blue
    restart: unless-stopped
    ports:
      - "${{ env.BLUE_PORT }}:5000"
    environment:
      - FLASK_ENV=production
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_RUN_PORT=5000
      - CONTAINER_COLOR=blue
      - DEPLOYMENT_SHA=latest
    networks:
     - webcalc-network
    healthcheck:
     test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
     interval: 10s
     timeout: 5s
     retries: 3
     start_period: 20s
    
  app_green:
    image: ghcr.io/${{ github.repository }}:latest
    container_name: webcalc_green
    restart: unless-stopped
    ports:
      - "${{ env.GREEN_PORT }}:5000"
    environment:
      - FLASK_ENV=production
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_RUN_PORT=5000
      - CONTAINER_COLOR=green
    networks:
      - webcalc-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s

  proxy:
    image: nginx:1.25-alpine
    container_name: webcalc_proxy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - app_blue
      - app_green
    networks:
      - webcalc-network

  networks:
    webcalc-network:
      driver: bridge